<form
  [formGroup]="form"
  class="form-horizontal col-md-8 col-md-offset-2"
  role="form"
  (ngSubmit)="getAll()" novalidate
>
  <fieldset class="col-md-12">
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>page</th>
        <th>page size</th>
        <th>sort type</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input formControlName="page"
                   type="number"
                   class="form-control"
                   [ngModel]="1"
                   [defaultValue]="1"
        ></td>
        <td><input formControlName="size"
                   type="number"
                   class="form-control"
                   [ngModel]="10"
                   [defaultValue]="10"
        ></td>
        <td><select formControlName="sort"
                    type="string"
                    class="form-control"
                    [selectedIndex]="0"
                    (click)="setSort($event)"
        >
          <option *ngFor="let sort of sorts"
                  [value]="sort.name">
            {{sort.name}}
          </option>
        </select></td>
        <td>
          <button
            type="submit"
            class="btn btn-success"
          >Show
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </fieldset>
</form>

<div>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>N</th>
      <th>Word</th>
      <th>Frequency</th>
      <th>Tags</th>
      <th>Init from</th>
      <th>Init form tags</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let word of words; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ word.word }}</td>
      <td>{{ word.frequency }}</td>
      <td>
        <popover-content #myPopover
                         placement="right"
                         [animation]="true"
                         [closeOnClickOutside]="true" >
          <table>
            <tr *ngIf="word.tags.includes('CC')"><td>CC</td><td>Coordinating conjunction</td></tr>
            <tr *ngIf="word.tags.includes('CD')"><td>CD</td><td>Cardinal number</td></tr>
            <tr *ngIf="word.tags.includes('DT')"><td>DT</td><td>Determiner</td></tr>
            <tr *ngIf="word.tags.includes('EX')"><td>EX</td><td>Existential there</td></tr>
            <tr *ngIf="word.tags.includes('FW')"><td>FW</td><td>Foreign word</td></tr>
            <tr *ngIf="word.tags.includes('IN')"><td>IN</td><td>Preposition or subordinating conjunction</td></tr>
            <tr *ngIf="word.tags.includes('JJ')"><td>JJ</td><td>Adjective</td></tr>
            <tr *ngIf="word.tags.includes('JJR')"><td>JJR</td><td>Adjective, comparative</td></tr>
            <tr *ngIf="word.tags.includes('JJS')"><td>JJS</td><td>Adjective, superlative</td></tr>
            <tr *ngIf="word.tags.includes('LS')"><td>LS</td><td>List item marker</td></tr>
            <tr *ngIf="word.tags.includes('MD')"><td>MD</td><td>Modal</td></tr>
            <tr *ngIf="word.tags.includes('NN')"><td>NN</td><td>Noun, singular or mass</td></tr>
            <tr *ngIf="word.tags.includes('NNS')"><td>NNS</td><td>Noun, plural</td></tr>
            <tr *ngIf="word.tags.includes('NNP')"><td>NNP</td><td>Proper noun, singular</td></tr>
            <tr *ngIf="word.tags.includes('NNPS')"><td>NNPS</td><td>Proper noun, plural</td></tr>
            <tr *ngIf="word.tags.includes('PDT')"><td>PDT</td><td>Predeterminer</td></tr>
            <tr *ngIf="word.tags.includes('POS')"><td>POS</td><td>Possessive ending</td></tr>
            <tr *ngIf="word.tags.includes('PRP')"><td>PRP</td><td>Personal pronoun</td></tr>
            <tr *ngIf="word.tags.includes('PRP$')"><td>PRP$</td><td>Possessive pronoun</td></tr>
            <tr *ngIf="word.tags.includes('RB')"><td>RB</td><td>Adverb</td></tr>
            <tr *ngIf="word.tags.includes('RBR')"><td>RBR</td><td>Adverb, comparative</td></tr>
            <tr *ngIf="word.tags.includes('RBS')"><td>RBS</td><td>Adverb, superlative</td></tr>
            <tr *ngIf="word.tags.includes('RP')"><td>RP</td><td>Particle</td></tr>
            <tr *ngIf="word.tags.includes('SYM')"><td>SYM</td><td>Symbol</td></tr>
            <tr *ngIf="word.tags.includes('TO')"><td>TO</td><td>to</td></tr>
            <tr *ngIf="word.tags.includes('UH')"><td>UH</td><td>Interjection</td></tr>
            <tr *ngIf="word.tags.includes('VB')"><td>VB</td><td>Verb, base form</td></tr>
            <tr *ngIf="word.tags.includes('VBD')"><td>VBD</td><td>Verb, past tense</td></tr>
            <tr *ngIf="word.tags.includes('VBG')"><td>VBG</td><td>Verb, gerund or present participle</td></tr>
            <tr *ngIf="word.tags.includes('VBN')"><td>VBN</td><td>Verb, past participle</td></tr>
            <tr *ngIf="word.tags.includes('VBP')"><td>VBP</td><td>Verb, non-3rd person singular present</td></tr>
            <tr *ngIf="word.tags.includes('VBZ')"><td>VBZ</td><td>Verb, 3rd person singular present</td></tr>
            <tr *ngIf="word.tags.includes('WDT')"><td>WDT</td><td>Wh-determiner</td></tr>
            <tr *ngIf="word.tags.includes('WP')"><td>WP</td><td>Wh-pronoun</td></tr>
            <tr *ngIf="word.tags.includes('WP$')"><td>WP$</td><td>Possessive wh-pronoun</td></tr>
            <tr *ngIf="word.tags.includes('WRB')"><td>WRB</td><td>Wh-adverb</td></tr>
          </table>
        </popover-content>
        {{ word.tags }}
        <button class="btn btn-outline-info btn-sm" [popover]="myPopover">?</button>
      </td>
      <td>{{ word.lemma }}</td>
      <td><popover-content #myPopover
                           placement="right"
                           [animation]="true"
                           [closeOnClickOutside]="true" >
        <table>
          <tr *ngIf="word.lemmaTags.includes('CC')"><td>CC</td><td>Coordinating conjunction</td></tr>
          <tr *ngIf="word.lemmaTags.includes('CD')"><td>CD</td><td>Cardinal number</td></tr>
          <tr *ngIf="word.lemmaTags.includes('DT')"><td>DT</td><td>Determiner</td></tr>
          <tr *ngIf="word.lemmaTags.includes('EX')"><td>EX</td><td>Existential there</td></tr>
          <tr *ngIf="word.lemmaTags.includes('FW')"><td>FW</td><td>Foreign word</td></tr>
          <tr *ngIf="word.lemmaTags.includes('IN')"><td>IN</td><td>Preposition or subordinating conjunction</td></tr>
          <tr *ngIf="word.lemmaTags.includes('JJ')"><td>JJ</td><td>Adjective</td></tr>
          <tr *ngIf="word.lemmaTags.includes('JJR')"><td>JJR</td><td>Adjective, comparative</td></tr>
          <tr *ngIf="word.lemmaTags.includes('JJS')"><td>JJS</td><td>Adjective, superlative</td></tr>
          <tr *ngIf="word.lemmaTags.includes('LS')"><td>LS</td><td>List item marker</td></tr>
          <tr *ngIf="word.lemmaTags.includes('MD')"><td>MD</td><td>Modal</td></tr>
          <tr *ngIf="word.lemmaTags.includes('NN')"><td>NN</td><td>Noun, singular or mass</td></tr>
          <tr *ngIf="word.lemmaTags.includes('NNS')"><td>NNS</td><td>Noun, plural</td></tr>
          <tr *ngIf="word.lemmaTags.includes('NNP')"><td>NNP</td><td>Proper noun, singular</td></tr>
          <tr *ngIf="word.lemmaTags.includes('NNPS')"><td>NNPS</td><td>Proper noun, plural</td></tr>
          <tr *ngIf="word.lemmaTags.includes('PDT')"><td>PDT</td><td>Predeterminer</td></tr>
          <tr *ngIf="word.lemmaTags.includes('POS')"><td>POS</td><td>Possessive ending</td></tr>
          <tr *ngIf="word.lemmaTags.includes('PRP')"><td>PRP</td><td>Personal pronoun</td></tr>
          <tr *ngIf="word.lemmaTags.includes('PRP$')"><td>PRP$</td><td>Possessive pronoun</td></tr>
          <tr *ngIf="word.lemmaTags.includes('RB')"><td>RB</td><td>Adverb</td></tr>
          <tr *ngIf="word.lemmaTags.includes('RBR')"><td>RBR</td><td>Adverb, comparative</td></tr>
          <tr *ngIf="word.lemmaTags.includes('RBS')"><td>RBS</td><td>Adverb, superlative</td></tr>
          <tr *ngIf="word.lemmaTags.includes('RP')"><td>RP</td><td>Particle</td></tr>
          <tr *ngIf="word.lemmaTags.includes('SYM')"><td>SYM</td><td>Symbol</td></tr>
          <tr *ngIf="word.lemmaTags.includes('TO')"><td>TO</td><td>to</td></tr>
          <tr *ngIf="word.lemmaTags.includes('UH')"><td>UH</td><td>Interjection</td></tr>
          <tr *ngIf="word.lemmaTags.includes('VB')"><td>VB</td><td>Verb, base form</td></tr>
          <tr *ngIf="word.lemmaTags.includes('VBD')"><td>VBD</td><td>Verb, past tense</td></tr>
          <tr *ngIf="word.lemmaTags.includes('VBG')"><td>VBG</td><td>Verb, gerund or present participle</td></tr>
          <tr *ngIf="word.lemmaTags.includes('VBN')"><td>VBN</td><td>Verb, past participle</td></tr>
          <tr *ngIf="word.lemmaTags.includes('VBP')"><td>VBP</td><td>Verb, non-3rd person singular present</td></tr>
          <tr *ngIf="word.lemmaTags.includes('VBZ')"><td>VBZ</td><td>Verb, 3rd person singular present</td></tr>
          <tr *ngIf="word.lemmaTags.includes('WDT')"><td>WDT</td><td>Wh-determiner</td></tr>
          <tr *ngIf="word.lemmaTags.includes('WP')"><td>WP</td><td>Wh-pronoun</td></tr>
          <tr *ngIf="word.lemmaTags.includes('WP$')"><td>WP$</td><td>Possessive wh-pronoun</td></tr>
          <tr *ngIf="word.lemmaTags.includes('WRB')"><td>WRB</td><td>Wh-adverb</td></tr>
        </table>
      </popover-content>
        {{ word.lemmaTags }}
        <button class="btn btn-outline-info btn-sm" [popover]="myPopover">?</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
