<select formControlName="sort"
                    type="string"
                    class="form-control"
                    [selectedIndex]="0"
                    (click)="setSort($event)"
        >
          <option *ngFor="let sort of sorts"
                  [value]="sort.name">
            {{sort.name}}
          </option>
        </select>
<table class="table table-striped table-hover ">
  <tbody>
  <tr>
    <td><input class="btn btn-primary" #fileInput (change)="fileUpload($event)" type="file" accept="text/plain">
    </td>
    <td>
    </td>
    <td>
      <button
        class="btn btn-success btn-block"
        (click)="stat()"
      >Get stat
      </button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
    </td>
    <td>
      <button
        class="btn btn-success btn-block"
        (click)="statTags()"
      >Get stat
      </button>
    </td>
  </tr>
  </tbody>
</table>

<table>
  <tr>
    <td>
      <table class="table table-striped table-hover ">
        <thead>
        <tr>
          <th>Tag_Tag</th>
          <th>Frequency</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stat of stats">
          <td>{{ stat.word }}</td>
          <td>{{ stat.frequency }}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
